#wrapper, #sidebar, #content {position: relative; float: left;box-sizing: border-box;}

.full_section {position: relative; width: 100%; box-sizing: border-box;}
header {color:#fff; text-shadow: 0 1px 2px #000; padding: 20px 10px; font-size: 24px;}

#wrapper {background: #ddd;}
header:first-of-type {border-bottom: 1px solid #888;}
#sidebar {background: #bbb; border-right: 1px solid #888; border-top: 1px solid #eee; width: 260px;}
#content {background: #aaa; border-left: 1px solid #eee; border-top: 1px solid #eee;}